@media (min-width:320px )and (max-width:767px) {
    #map > img {
      height: auto;
      width: 41vw;
      margin: 1px 2px;
    }
    hr{
      width: 35.03vw;
      margin-left: 3.9vw;
    }
    #navbar{
      width: 36%;
      flex-direction: column;
    }
    #head{
      font-size: 5vw;
    }
    .abus-container{
      width: 36vw;
    }
    .abus-card{
      height: 2rem;
      font-size: 1rem;
    }
    #abus-card1content,#abus-card2content,#abus-card3content{
      font-size: 0.2rem;
    }
    #abus-subhead,#abus-smallsubhead1,#abus-smallsubhead{
      font-size: 1.0rem;
      width: 197vw;
      height: 27vh;
      margin: 1rem;
      /* padding: 0.5rem; */
    }
    #abus-section2{
      width:160vw;
    }
    #abus-head{
      width: 7vw;
      font-size: 4vw;
    }
    
  
  #abus-s2head{
    
      margin: -1.875rem -4.125rem;
  }
    
    .midheading{
      width: 1vw;
      font-size: 0.2rem;
      margin: 1rem 2rem;
    }
  
    #mapcontent{
      font-size: 1.0vw;
      width: 45vw;
      margin: 1rem 2rem;
    }
    #endinfo{
      width: 30vw;
      font-size: 0.7125rem;
      margin: 1rem;
    }
    #end {
      width: 33vw;
      padding: 1.125rem;
      font-size: 0.7125rem;
    }}